<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Printing Services
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            For all framing customers we also offer high quality printing with any size and shape you
                            need up to 44" x infinite for
                            paper and 40" x infinite on canvas. We have a variety of materials and paper qualities to
                            print on and use the markets
                            finest printer, Epson SureColor P9000 for all our printing needs.<br>

                            Realize the full-potential of Epson's large-format lineup with the Commercial Edition of the
                            SureColor P9000 44" Inkjet
                            Printer. This unit incorporates the latest PrecisionCore TFP Print Head and PrecisionDot
                            Screening Technology along with
                            an eleven-color UltraChrome HDX pigment-based ink set with auto-switching black ink
                            technology to produce vivid,
                            brilliant images at a finely detailed resolution of 2880 x 1440 dpi. Also, the Commercial
                            Edition utilizes a Violet ink
                            that allows users to produce up to 99% of the Pantone Formula Guide for solid color
                            matching, immensely useful for
                            accurate package proofing.<br>

                            <!-- <span style="font-weight: 600;color: rgb(17, 17, 17);">
                                <ul>
                                    <li>High quality giclée prints</li>
                                    <li>Printing on a variety of matte and gloss paper in various weight</li>
                                    <li>Canvas printing and stretching</li>
                                    <li>Full framing jobs for any size prints</li>
                                </ul>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <div class="row rightrow">

                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">We provide you high quality giclée prints</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Variety of matte and gloss paper in various weight
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Canvas printing and stretching</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Full framing jobs for any size prints</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br><br>
        <div class="mx-auto">
            <div class="title-section">
                <div class="flat-title medium heading-type18 textcntr">
                    Digital Canvas Printing
                </div>
            </div>
            <div class="table mx-auto">
                <div class="table-cell plattform">
                    <h3>Size</h3>
                </div>
                <div class="table-cell plattform">
                    <h3>Glass</h3>
                </div>
                <div class="table-cell plattform">
                    <h3>Matt</h3>
                </div>
                <div class="table-cell plattform">
                    <h3>Canvas</h3>
                </div>
                <!-- Row 1 -->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
                <!-- Row 2 -->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
                <!-- Row 3-->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
                <!-- Row 4 -->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
                <!-- Row 5 -->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
                <!-- Row 6 -->
                <div class="table-cell">
                    $58
                </div>
                <div class="table-cell">
                    $88
                </div>
                <div class="table-cell">
                    +$32
                </div>
                <div class="table-cell">
                    +$15
                </div>
            </div>
        </div>

    </div>
</div>