<footer id="footer" class="footer-type2">
    <div id="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-footer">
                    <div class="logo-footer">
                        <img src="../../assets/images/logo/logo.png" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-3 col-company">
                    <h3 class="widget widget-title text-white">
                        Help Links
                    </h3>
                    <ul class="widget-nav-menu">
                        <li><a href="#">Special Offers</a></li>
                        <li><a href="#">Value Framing</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Parking Map</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-link">
                    <h3 class="widget widget-title text-white">
                        Berkeley
                    </h3>
                    <ul class="widget-nav-menu">
                        <li>
                            <p><strong>Artistic Picture Framing</strong><br>
                                1975 Shattuck Avenue<br>
                                Berkeley, CA 94704<br>
                                Call us at (510) 665-5951</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-media">
                    <h3 class="widget widget-title text-white">
                        Oakland
                    </h3>
                    <ul class="widget-nav-menu">
                        <li>
                            <p><strong>Artistic Picture Framing</strong>
                                <br>1501 Martin Luter King Jr Way<br>
                                Oakland, CA 94612<br>
                                Call us at (510) 665-5951</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="social-footer text-center">
        <a href="https://www.facebook.com/artisticframingexpert/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/PictureArtistic"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/_artisticpictureframing/?hl=en"><i class="fa fa-instagram"
                aria-hidden="true"></i></a>
        <a href=""><i class=" fa fa-linkedin" aria-hidden="true"></i></a>
    </div>
    <a id="scroll-top" class="show"></a>
</footer>