<div class="bg-header">
    <div class="flat-header-blog">
        <div class="top-bar clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <ul class="information">
                            <li class="phone lt-sp003">
                                <i class="fa fa-phone" aria-hidden="true"></i> (510) 665-5951
                            </li>
                            <li class="email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>artisticframingexpert@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                        <ul class="nav-sing">
                            <li><a href="#">Order Now</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container">
                <div class="menu-bar-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="index.html"><img src="../../assets/images/logo/logo.png" width="160px"
                                alt="Artistic Frame Work"></a>
                    </div>
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                        <nav id="main-nav" class="main-nav">
                            <ul class="menu">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Special Offers</a></li>
                                <li><a href="#">Explore &nbsp;<i class="fa fa-caret-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Latest Desgins</a></li>
                                        <li class="menu-item"><a href="">Canvas Stretching</a></li>
                                        <li class="menu-item"><a href="">Corporate Consulting</a></li>
                                        <li class="menu-item"><a href="">Craftman Framing</a></li>
                                        <li class="menu-item"><a href="">Delivery & Installation</a></li>
                                        <li class="menu-item"><a href="">Design Process</a></li>
                                        <li class="menu-item"><a href="">Home Consulting</a></li>
                                        <li class="menu-item"><a href="">Parking Map</a></li>
                                        <li class="menu-item"><a href="">Printing Services</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-title page-title-blog">
            <div class="page-title-inner">
                <div class="breadcrumbs breadcrumbs-blog text-left">
                    <div class="container">
                        <div class="breadcrumbs-wrap">
                            <div class="title">
                                {{page}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- bg-header -->