<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="textbox-about">
            <div class="title-section">
                <div class="flat-title medium heading-type18">
                    Special Offers
                </div>
            </div>
            <div class="textbox-content">
                <div class="about-introduce">
                    <div class="text-cont">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-weight: 600;color: rgb(17, 17, 17);">Quantity Discounts</span><br>
                                In order to take advantage of our in-house discounts, bring us more than 1 piece and we
                                will
                                cut down the price.
                                Decorate your whole home with over 10 pieces for a 20% discount! The more you bring the
                                bigger the deal!
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>10%</td>
                                        <td>15%</td>
                                        <td>20%</td>
                                    </tr>
                                    <tr>
                                        <td>2 custom peices</td>
                                        <td>2 custom peices</td>
                                        <td>2 custom peices</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="text-cont">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-weight: 600;color: rgb(17, 17, 17);">Ready-Made Framing</span><br>
                                One of the most sought out deals in the bay area is our HIGH QUALITY ready made frame
                                selection. All of our ready made
                                frames are cut from original leftovers of custom jobs using the best wood from our
                                stock.
                                You will not find any imported
                                plastic frames here!
                            </div>
                            <div class="col-md-6">
                                <table>
                                    <tr>
                                        <td>8 x 10</td>
                                        <td>11 x 14</td>
                                        <td>16 x 20</td>
                                        <td>18 x 24</td>
                                    </tr>
                                    <tr>
                                        <td>$35 - $55</td>
                                        <td>$55 - $75</td>
                                        <td>$85 - $100</td>
                                        <td>$100 - $125</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-cont">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-weight: 600;color: rgb(17, 17, 17);">Rush Orders & Same Day
                                    Service</span><br>

                                Most frame shops fear the customer who needs a rush or same day service… we thrive from
                                the
                                challenge! With our gigantic
                                in-house selection and full in-house workshop, we can build a custom job from scratch in
                                lightning speed!
                            </div>
                        </div>
                    </div>
                    <div class="text-cont">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="font-weight: 600;color: rgb(17, 17, 17);">Shadowbox Jersey
                                    Special</span><br>
                                Due to our high demand for sports memorabilia framing and our national recognition as
                                the chosen framers for the Golden
                                State Warriors, we are now running a jersey special for any walk-in customers looking to
                                preserve and showcase their own
                                favorite clothing attire. For <span style="font-weight: 600;">$375.00</span> each job
                                will
                                include:
                                <ul>
                                    <li>
                                        One acid-free suede or paper backing mat with walls (your own choice of
                                        color)
                                    </li>
                                    <li>
                                        A choice of an all black wooden or metal moulding
                                    </li>
                                    <li>
                                        Glazing, fitting, and stretch mounting the jersey.
                                    </li>
                                    <li>
                                        All sizes up to 32 x 40
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>