<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Design and Process
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <!-- <img src="../../assets/images/blog/01.png"> -->
            </div>
        </div>
        <div class="textbox-content">
            <div class="about-introduce text-center">
                <div class="row">

                    <div class="col-md-6">
                        <img src="../../assets/images/vectors/1.svg" width="160px">
                        <h2>BRINGING US YOUR ART</h2>
                        <p>
                            We are able to work with any piece of art you may have collected from special trips around
                            the world, museum galleries,
                            or the simple but special memorabilia that you have kept around the house. Along with
                            prints, photos, or fabrics we can
                            also handle all your stretches and 3-dimensional objects you value.

                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/vectors/2.svg" width="160px">
                        <h2>ASSESSING YOUR AESTHETIC</h2>
                        <p>
                            Through this process we can get to know a little more about you. We can hone in on where
                            your style and taste may lie
                            and find out whether you enjoy the stylish sense of modernity or have an ornate/rustic sort
                            of taste.. or possibly
                            somewhere in-between. This process allows you to be hands on with the direction of your
                            piece and to fully customize
                            your treasure.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/vectors/3.svg" width="160px">
                        <h2>CHOOSING MATERIALS</h2>
                        <p>We hold in our stock hundreds and hundreds of wood and metal moulding options, ready to cut
                            and join in-house! We can
                            browse through handcrafted natural woods or a glossy and metallic look, its up to you! Once
                            we get going we can then
                            expand our tool kit to choose mat colors and textures or embellishments like fillets, double
                            mats, raised floats, and
                            shadow boxes.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/vectors/4.svg" width="160px">
                        <h2>CREATING A BUDGET AND PLAN OF ACTION</h2>
                        <p>
                            Once the materials are chosen we asses the budget and timeline that works for your calendar
                            wallet.<br> We then lay out the
                            timeline of work and completion. We will also provide delivery and installation for an
                            additional fee.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>