/* .bg-header {
} */
.menu-bar #logo {
  margin: 13px 0 20px 0;
}
.even {
  background-image: url("../../assets/images/nav/333.png");
  height: 579px;
  background-repeat: no-repeat;
  background-size: cover;
}
.odd {
  background-image: url("../../assets/images/nav/9999.png");
  height: 579px;
  background-repeat: no-repeat;
  background-size: cover;
}
.neutral {
  background-image: url("../../assets/images/nav/7777.png");
  height: 579px;
  background-repeat: no-repeat;
  background-size: cover;
}
