<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Expert Craftmanship
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            We are craftsman frame makers widely known as the 'design specialists' of the bay area.
                            While using all preservation and
                            quality materials, we can adapt to any customers budget and style. Let us know your price
                            range and we can create an
                            everlasting piece, accordingly.<br><br><br>
                            <span style="font-weight: 700;">Our Specialization:</span>
                            <ul>
                                <div class="row">
                                    <div class="col-md-6">
                                        <li>Affordable preservation framing and design</li>
                                        <li>Photo prints</li>
                                        <li>Sports Jersey framing and design</li>
                                        <li>Wedding and Diploma framing</li>
                                        <li>Oil Paintings</li>
                                        <li>Price packages for business or team framing</li>
                                        <li>3D object mounts</li>
                                        <li>Canvas Stretching</li>
                                        <li>Oversize or small scale stretches</li>
                                        <li>Crossbar reinforcements for larger stretches</li>
                                    </div>
                                    <div class="col-md-6">
                                        <li>Framing, preserving, and transporting</li>
                                        <li>Artwork Restoration</li>
                                        <li>Fine art canvasses</li>
                                        <li>Scratched or damaged moulding</li>
                                        <li>Oil painting dirt, or discoloration</li>
                                        <li>Quality Gold leafing</li>
                                        <li>Corporate and/or Sports designs</li>
                                        <li>Championship design layouts</li>
                                        <li>Corporate interior design layouts</li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Museum Glazing
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            We offer the industries top anti-reflection picture framing glass with Conservation Grade UV
                            Protection as the best
                            glazing option available for art, photographs and other important personal keepsakes. Along
                            with its nearly invisible
                            finish, it effectively blocks up to 99% of harmful indoor and outdoor UV light rays so
                            framed pieces remain clearer and
                            brighter for longer.<br><br>
                            <span style="font-weight: 700;">Top benefits for using museum glass are:</span>
                            <br>
                            <ul>
                                <li>Reduces reflection by over 85% (to less than 1% of total light), the lowest possible
                                    reflection rating available with UV
                                    protection</li>
                                <li>Achieves over 97% light transmission to enhance colors, brightness and contrast
                                    levels</li>
                                <li>Blocks up to 99% of UV light rays</li>
                                <li>Meets ISO 18902 and passes ISO 18916, by providing at least 97% UV protection</li>
                                <li>Does not degrade or delaminate over time. Tru Vue uses a proprietary inorganic,
                                    silica-based
                                    UV blocking coating, which
                                    is “baked” into the glass producing a permanently bonded coating.</li>
                                <li>2.5mm glass substrate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>