<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Corporate Consulting
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            Whether your company is redesigning the office or you are an interior designer in need of
                            quality services, we offer
                            framing and corporate consulting for your Bay Area business . We specialize in corporate or
                            residential design and have
                            access to a large collective of art publishing companies throughout the United States. We
                            guide each of our clients
                            through every phase of the project and will determine the most suitable framing program
                            based on budget considerations.
                            We have framed and designed for a variety of professional businesses, sports teams, museums,
                            and colleges throughout the
                            bay area including Stephen Curry & The Golden State Warriors, NFL MVP Marcus Peters & The
                            Kansas City Chiefs, MMAS
                            Design, Nixon Watches and Apparel, The University of California at Berkeley, and many more!
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <div class="row rightrow">

                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">On location framing design and consulting (in your office or in
                                    our design room)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Customizing an art program for each corporate project</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">A plan of action timeline (laying out the schedule of meetings,
                                    updates, and
                                    progress of the project)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">On location installation</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>