<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Your Products
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            <div class="box">
                                <div class="row">
                                    <div class="col-md-8" *ngFor='let item of cart; let i = index'>
                                        <h1>{{cart[i].name}}</h1>
                                        <div class="col-md-4">
                                            <img src="../../assets/images/course-grid/1.jpg">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p>Quantity: {{cart[i].quantity}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>Price: ${{cart[i].price}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <p>Total: ${{cart[i].quantity*cart[i].price}}</p>
                                            </div>
                                        </div>
                                        <p class="removetext" (click)='remove_item(i)'>Remove</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-5">
                <div class="checkoutbox">
                    <h1 class="text-center">CHECKOUT</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Price</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>${{order_total}}</p>
                        </div>
                        <hr>
                        <div class="col-sm-6">
                            <p>Tax</p>
                        </div>
                        <div class="col-sm-6 text-right">
                            <p>${{tax}}</p>
                        </div>
                        <hr class="finalhr">
                        <div class="col-sm-6 totalcol">
                            <p>Total</p>
                        </div>
                        <div class="col-sm-6 text-right totalcol">
                            <p>${{order_total+tax}}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success"  (click)="payment()">Proceed to Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>