<div id="sidebar-social">
    <div class="social facebook">
        <a href="https://www.facebook.com/artisticframingexpert/" target="_blank">
            <p>Like on Facebook <i class="fa fa-facebook "></i> </p>
        </a>
    </div>
    <div class="social twitter">
        <a href=" https://www.twitter.com " target="_blank">
            <p>Follow on Twitter<i class="fa fa-twitter"></i> </p>
        </a>
    </div>
    <div class="social insta">
        <a href="https://www.instagram.com/_artisticpictureframing/?hl=en" target="_blank">
            <p>Follow on Instagram<i class="fa fa-instagram"></i> </p>
        </a>
    </div>
    <div class="social linkedin">
        <a href=" https://www.linkedin.com " target="_blank">
            <p>Connect on LinkedIn<i class="fa fa-linkedin"></i> </p>
        </a>
    </div>
</div>