<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Home Consulting
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            In addition to quality in-house preservation and consulting, we also provide services to
                            travel to your location! Many
                            of our clients may live a substantial distance from our berkeley headquarters or may not
                            have the time to consult with
                            us in our design room, therefore we offer to bring moulding, mat, and glazing samples to
                            your home! We then assess your
                            home, decor, personal aesthetic and taste in order to best suit the needs of your art
                            work.<br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <div class="row rightrow">

                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">On location framing design and consulting (including mat,
                                    moulding, and glazing samples)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Customizing an art program for each home project</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">On location installation</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Transportation and delivery</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>