/*--------------------------------------------------------------------------------------------------------
                                            SOCIAL SIDEBAR
---------------------------------------------------------------------------------------------------------*/
#sidebar-social {
  height: 250px;
  width: 10px;
  position: fixed;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
#sidebar-social a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 3;
}

#sidebar-social p {
  color: white;
}

#sidebar-social p i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
}

#sidebar-social .social {
  margin-left: -200px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(134, 134, 134, 0.43);
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 4px 0px #3e3d3d;
  cursor: pointer;
}

#sidebar-social .social:hover {
  margin-left: -30px;
  width: 230px;
  background-color: #3b5998;
}

#sidebar-social .facebook:hover {
  background-color: #3b5998;
}

#sidebar-social .twitter:hover {
  background-color: #4099ff;
}

#sidebar-social .insta:hover {
  background-color: #dd399e;
}

#sidebar-social .linkedin p i {
  left: 20px;
}

#sidebar-social .insta p i {
  left: 20px;
}

#sidebar-social .linkedin:hover {
  background-color: #0976b4;
}
