<div class="bg-header">
    <div class=" flat-header-blog">
        <div class="top-bar clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                        <ul class="information">
                            <li class="phone lt-sp003">
                                <i class="fa fa-phone" aria-hidden="true"></i> (510) 665-5951
                            </li>
                            <li class="email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>artisticframingexpert@gmail.com
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12">
                        <ul class="nav-sing">
                            <li><a href="#">Order Now</a></li>
                            <li><a href="#">Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <header class="header menu-bar header-blog hv-menu-type2">
            <div class="container">
                <div class="menu-bar-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="index.html"><img src="../../assets/images/logo.png" width="150px"
                                alt="Artistic Frame Work"></a>
                    </div>
                    <div class="mobile-button"><span></span></div>
                    <div class="header-menu">
                        <nav id="main-nav" class="main-nav">
                            <ul class="menu">
                                <li><a routerLink="/home">Home</a></li>
                                <li><a routerLink="/special-offers">Special Offers</a></li>
                                <li><a>Explore &nbsp;<i class="fa fa-caret-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="/latest-designs">Latest Desgins</a></li>
                                        <li class="menu-item"><a routerLink="/canvas-stretching">Canvas Stretching</a>
                                        </li>
                                        <li class="menu-item"><a routerLink="/corporate-consulting">Corporate
                                                Consulting</a></li>
                                        <li class="menu-item"><a routerLink="/craftman-framing">Craftman Framing</a>
                                        </li>
                                        <li class="menu-item"><a routerLink="/delivery-and-installation">Delivery &
                                                Installation</a></li>
                                        <li class="menu-item"><a routerLink="/design-process">Design Process</a></li>
                                        <li class="menu-item"><a routerLink="/home-consulting">Home Consulting</a></li>
                                        <li class="menu-item"><a routerLink="/parkingmap">Parking Map</a></li>
                                        <li class="menu-item"><a routerLink="/printing-services">Printing Services</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- <li><a routerLink="/blog">Blog</a></li> -->
                                <li><a routerLink="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-title page-title-blog">
            <div class="page-title-inner">
                <div class="breadcrumbs breadcrumbs-blog text-left">
                    <div class="container">
                        <div class="breadcrumbs-wrap">
                            <div class="title">
                                Latest Designs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- bg-header -->
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Latest Designs
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            <button class="btn btn-success" routerLink='/cart'>Go to cart</button>
                            
                            <!-- In addition to quality preservation framing and design, we also offer a service that very
                            few framing shops even attempt
                            to tackle. Not only will we deliver the finalized piece to you but we will also pick the
                            piece up from any location in
                            the bay area. Installing any amount of your pieces will be on us when your order exceeds
                            $500.<br>

                            Many customers bring us folded or rolled up pieces that turn out to be larger than they see
                            fit in a standard vehicle.
                            To remedy this situation, we can transfer any size piece safely and timely to all of our
                            customers.<br> -->
                             <div class="row">
                                <div class="col-sm-6" *ngFor='let design of design_array;let i=index'>
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src={{design.image}} alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">{{design.name}}</h5>
                                          <p class="card-text">Price : {{design.price}} </p>
                                          <p class="card-text">Quantity : <input type="number" name='quantity' style="width:5em" [(ngModel)]='quantity[i]'> </p>
                                          <button class="btn btn-success" (click)="_addtocart(i)">Add to cart</button>
                                          <h4 *ngIf='added[i] && successmessage' class="">{{successmessage}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 *ngIf='errormessage'>{{errormessage}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <!-- <img src="../../assets/images/blog/01.png"> -->
            </div>
        </div>
    </div>
</div>