<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Latest Designs
                        </div>
                    </div>
                    <div class="textbox-content">
                        <button routerLink="/cart" class="btn btn-success" style="width:10em;">Go to Cart</button>
                        <div class="about-introduce">
                            <div class="row">
                                <div class="col-sm-6" *ngFor='let design of design_array;let i=index'>
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src={{design_array[i].image}} alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">{{design_array[i].name}}</h5>
                                            <p class="card-text">Price : {{design_array[i].price}} </p>
                                            <p class="card-text">Quantity : <input type="number" name='quantity'
                                                    style="width:5em" [(ngModel)]='quantity[i]'> </p>
                                            <button class="btn btn-success" (click)="_addtocart(i)">Add to cart</button>
                                            <h4 *ngIf='added[i]' class="">added</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 *ngIf='errormessage'>{{errormessage}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <!-- <img src="../../assets/images/blog/01.png"> -->
            </div>
        </div>
    </div>
</div>