<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Yet to build
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            <!-- In addition to quality preservation framing and design, we also offer a service that very
                            few framing shops even attempt
                            to tackle. Not only will we deliver the finalized piece to you but we will also pick the
                            piece up from any location in
                            the bay area. Installing any amount of your pieces will be on us when your order exceeds
                            $500.<br>

                            Many customers bring us folded or rolled up pieces that turn out to be larger than they see
                            fit in a standard vehicle.
                            To remedy this situation, we can transfer any size piece safely and timely to all of our
                            customers.<br> -->
                             <div class="row" >
                                <div class="col-sm-6" *ngFor='let design of design_array;let i=index'>
                                    <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src={{design_array[i].image}} alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">{{design_array[i].name}}</h5>
                                          <p class="card-text">Price : {{design_array[i].price}} </p>
                                          <p class="card-text">Quantity : <input type="number" name='quantity' style="width:5em" [(ngModel)]='quantity[i]'> </p>
                                          <button class="btn btn-success" (click)="_addtocart(i)">Add to cart</button>
                                          <!--<h4 *ngIf='' class="">added</h4>-->
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <!-- <img src="../../assets/images/blog/01.png"> -->
            </div>
        </div>
    </div>
</div>