<app-commonheader></app-commonheader>
<div class="flat-about pd-about clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="textbox-about">
                    <div class="title-section">
                        <div class="flat-title medium heading-type18">
                            Value Framing
                        </div>
                    </div>
                    <div class="textbox-content">
                        <div class="about-introduce">
                            While using all preservation and quality materials, we can adapt to any customers budget and
                            style. Let us know your
                            price range and we can create an everlasting piece, accordingly. One of our most sought
                            after sizes in our store is
                            our value moulding section.<br>

                            Over 300 frames await our customers looking to get a quality job finished within a budget
                            they can work with. Whether
                            you're looking for a classic wood, or quirky metal framing, we have a variety of mouldings
                            that we leave for the value
                            section due to our mass amount of original inventory!<br>

                            While many mouldings range from $16 - $50 per foot, our value moulding stock comes at an
                            extreme price cut...<br><br>

                            <span style="font-weight: 600;color: rgb(17, 17, 17);">In addition to offering value
                                moulding, we will
                                beat any
                                written or printed custom
                                framing
                                estimate you receive from
                                another shop</span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6 mx-auto text-center">
                <img src="../../assets/images/dollar.png" alt="">
            </div>
        </div>
        <div class="table mx-auto">
            <div class="table-cell plattform">
                <h3>Size</h3>
            </div>
            <div class="table-cell plattform">
                <h3>METAL
                    FRAME/FITTING</h3>
            </div>
            <div class="table-cell plattform">
                <h3>WOOD
                    FRAME/FITTING</h3>
            </div>
            <div class="table-cell plattform">
                <h3>+ADD FREE
                    MAT</h3>
            </div>
            <div class="table-cell plattform">
                <h3>+STANDARD GLASS</h3>
            </div>
            <div class="table-cell plattform">
                <h3>+UV GLASS</h3>
            </div>
            <div class="table-cell plattform">
                <h3>DRY MOUNTING</h3>
            </div>
            <!-- Row 1 -->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>
            <!-- Row 2 -->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>
            <!-- Row 3-->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>
            <!-- Row 4 -->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>
            <!-- Row 5 -->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>
            <!-- Row 6 -->
            <div class="table-cell cell-size">UP TO 14 X 18</div>
            <div class="table-cell">
                $58
            </div>
            <div class="table-cell">
                $88
            </div>
            <div class="table-cell">
                +$32
            </div>
            <div class="table-cell">
                +$15
            </div>
            <div class="table-cell">
                +$22
            </div>
            <div class="table-cell">
                +$20
            </div>


        </div>
    </div>
</div>