/*************************** Content ***********************************
0. Loader
1. Navbar
2. Social Sidebar
3. Landing Page
4. Why us
5. Footer
*/

/*--------------------------------------------------------------------------------------------------------
                                            Loader
---------------------------------------------------------------------------------------------------------*/
#loading-overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
#loading-overlay .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
}
#loading-overlay .loader:before,
#loading-overlay .loader:after {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  -webkit-animation: preloader-wave 1.6s linear infinite;
  animation: preloader-wave 1.6s linear infinite;
  border-radius: 50%;
  background: #fbb545;
}
#loading-overlay .loader:after {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
@keyframes preloader-wave {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------------------------------------------------
                                            Navbar
---------------------------------------------------------------------------------------------------------*/
.wrap-header {
  position: relative;
}
.flat-header {
  width: 100%;
  position: absolute;
  z-index: 99999;
  background: transparent;
}
.header-sticky {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #333;
  -webkit-animation-name: fadeInDown;
  -webkit-animation-duration: 0.8s;
  animation-name: fadeInDown;
  animation-duration: 0.8s;
}
/*--------------------------------------------------------------------------------------------------------
                                            Landing Page
---------------------------------------------------------------------------------------------------------*/
.flat-header .header-menu {
  float: right;
}

.flat-slider .tp-caption a.btn-styl1 {
  background: #fbb545;
  transition: 0.21s ease-in all;
  padding: 9px 32px 10px 32px;
}
.flat-slider .tp-caption a.btn-styl1:hover {
  background: #8a5b10;
}
.flat-slider .rev_slider_wrapper .tp-caption a.btn-styl1 {
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 17px;
  margin-right: 36px;
}

/*--------------------------------------------------------------------------------------------------------
                                            Why us
---------------------------------------------------------------------------------------------------------*/
.iconbox-benefit .iconbox-content h3:hover {
  color: #fbb545;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.iconbox-benefit .iconbox-content p {
  color: #7a7a7a;
  font-size: 17px;
}
.iconbox-benefit .iconbox-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: #216ae6;
}

.flat-benefit-style2 .iconbox {
  text-align: center;
}
.flat-benefit-style2 .iconbox-one {
  padding: 30px 20px 0px 6px;
}
.flat-benefit-style2 .iconbox-two {
  padding: 35px 20px 0px 35px;
}
.flat-benefit-style2 .iconbox-three {
  padding: 48px 20px 0px 6px;
}
.flat-benefit-style2 .iconbox-four {
  padding: 48px 20px 0px 35px;
}
.flat-benefit-style2 .iconbox-one .iconbox-content h3 {
  margin: 27px 0 15px 0;
}
.flat-benefit-style2 .iconbox-two .iconbox-content h3 {
  margin: 32px 0 15px 0;
}
.flat-benefit-style2 .iconbox-three .iconbox-content h3 {
  margin: 27px 0 15px 0;
}
.flat-benefit-style2 .iconbox-four .iconbox-content h3 {
  margin: 27px 0 15px 0;
}
.why-choose-us {
  margin-top: -156px;
}
.why-choose-us .getintouch {
  position: relative;
  z-index: 1;
  transform: translateY(-21.6%);
}
.iconbox-width50 .iconbox {
  width: 50%;
  float: left;
}
.iconbox-icon img {
  width: 60px;
}

/*--------------------------------------------------------------------------------------------------------
                                            FOOTER
---------------------------------------------------------------------------------------------------------*/
#footer {
  background: #3f4c9a;
}

#footer #footer-widget .widget-nav-menu li a {
  color: #f0f0f0 !important;
}
#footer #footer-widget {
  padding-top: 36px;
  padding-bottom: 30px;
}
#footer #footer-widget .logo-footer {
  margin: 6px 0 40px 0;
}
#footer #footer-widget .info-footer {
  padding-bottom: 40px;
}
#footer #footer-widget .widget.widget-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 36px;
  color: #333;
}
#footer #footer-widget .col-company .widget.widget-title {
  letter-spacing: 0.7px;
}
#footer #footer-widget .col-link .widget.widget-title,
#footer #footer-widget .col-media .widget.widget-title {
  margin-top: 3px;
  letter-spacing: 0.9px;
}
#footer #footer-widget .widget-nav-menu li {
  margin-bottom: 13px;
}
#footer #footer-widget .widget-nav-menu li a {
  font-size: 17px;
  color: #7a7a7a;
  font-weight: 300;
}
#footer #footer-widget .widget-nav-menu li p {
  font-size: 17px;
  color: #f0f0f0 !important;
  font-weight: 300;
}
.social-footer a i {
  font-size: 30px !important;
  color: white;
  transition: all 0.3s ease-in;
  padding-left: 10px;
}
.social-footer a i:hover {
  color: #fbb545;
}
.social-footer {
  padding-bottom: 20px;
}
